
                    
    
   @media (max-width: 1100px){

    .sobre-web-design  article {
    
       margin-left: 40px;
                     
         }
   header img{

    margin-left: 40px;
   }
   
   .containerfooter{
    margin-left: 40px;
   }
   
   
   @media(max-width:1000px){
    
    
    header nav{
               
           margin: 30px 0;
    
             }
       
       .container{
       
           width: 650px;    
           align-items: center;
           
                
             }
                 
       .row {
      
                    display: flex;
           flex-direction:column;
            }
            
     
                   
        
        
           
       .sobre-web-design article{
    
           width: 100%;
           
                        
            }
    
       .sobre-web-design article h1{
            
           font-size: 60px;
           line-height: 110%;
      
            }
            
            
      .sobre-web-design article h2{
            
           font-size: 20px;
                           
            }
               
      .sobre-web-design figcaption img{
               
         width: 420px;
         margin-top: 10px;
    
            }
                      
                        
    body{
            
                   
         background-position: left -150px;
         background-color: hsl(188deg 100% 85%);
         
              }
              
              }
                
   
@media(max-width:900px){

    .container{
        width: 300px;  
        align-items: center;
                }
    .containerfooter{
        margin-top: 5px;
   align-items: center;   

        
    }   
                          }

@media(max-width:800px){

  .container{
    width: 300px;  
    align-items: center;; 
            }
      
   .containerfooter{
   
    margin-top: 5px;
   align-items: center;   

            }   
                  
            }
@media(max-width:700px){


    .containerfooter{
   
        margin-top: 5px;
   align-items: center;   

          
                }   
    .container{
        align-items: center;
        width: 300px;    
              }
                              
              }
            
            
@media(max-width:600px){
    .containerfooter{
   
        margin-top: 5px;
        align-items: center;   
     
          
                }   



      .container{
       width: 300px;    
               }
                                          
               }
                        
                        
 @media(max-width:500px){
    .containerfooter{
   
        margin-top: 5px;
        align-items: center;   
     
                }   
       .container{
        width:500px;    
               }
                              
               }
  @media(max-width:400px){
      
                   
       .container{
          width:500px;    
                 }
       header nav ul {
           
        flex-direction:column;
        
       }

       header nav ul li{
         
        margin: 10px;

       }


                           }