@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Send+Flowers&family=Source+Sans+Pro:wght@200;300;400&display=swap');
@import "./header.css";
@import "./buttons.css";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
     text-decoration: none;
     font-family:  'Source Sans Pro', sans-serif;
}